<?xml version="1.0" encoding="utf-8" ?>
<menu>

	<none>
		<tab src="index.php">Home</tab>
		<tab src="signup.php">Sign Up</tab>
	</none>
	
	<employee>
		<tab src="employee_home.php">Home</tab>
		<tab src="jobs.php">Jobs</tab>
		<tab src="bookmarks.php">Bookmarks</tab>
		<tab src="profileemp.php">Profile</tab>
	</employee>
	
	<employer>
		<tab src="employer_home.php">Home</tab>
		<tab src="newjobpost.php">Post New Job</tab>
		<tab src="jobs.php">Jobs</tab>
		<tab src="employees.php">Employees</tab>
		<tab src="comments.php">Comments</tab>
		<tab src="profileemployer.php">Profile</tab>
	</employer>
	
	<admin>
		<tab src="index.php">Home</tab>
		<tab src="stats.php">Statistics</tab>
	</admin>
	
</menu>
