#buttons{
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px auto 30px auto;
}

.row{
	display: block;
	float: left;
	margin: 4px 0 0 0;
}

.row>label{
	display: block;
	font-weight: bold;
	width: 200px;
	float: left;
}

.row>span{
	display: block;
	width: 300px;
	float: left;
}