html{
	height: 100%;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: #444;
}

a:hover{
	color: #000;
}

#hd_frame{
	height: 50px;
	margin-bottom: 20px;
	width: 100%;
}

#hd{
	margin: 0 auto;
	width: 800px;
}

#hd #login{
	float: right;
	border: 1px solid #CCC;
	border-top: none;
	padding: 2px 5px 5px 5px;
	width: 160px;
	font-size: .8em;
}

#hd #login #name{
	width: 100%;
	float: left;
	margin-bottom: 2px;
}

#hd #login #action{
	width: 100%;
}

#main{
	margin: 0 auto;
	width: 800px;
}

#nav{
	margin: 0 auto 0 auto;
}

#nav li{
	cursor: pointer;
	float: left;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
	height: 24px;
	margin-right: 20px;
	padding: 5px 20px;
	text-align: center;
}

#nav li:hover{
	background-color: #EEE;
}

#nav li a{
	color: #333;
	font-weight: normal;
	outline: none;
}

#nav li#selected, #nav li.selected:hover{
	background-color: #EEE;
	border: 1px solid #CCC;
	border-bottom: none;
	margin-top: -1px;
}

#bd{
	border: 1px solid #CCC;
	float: left;
	padding: 10px;
	width: 778px;
}

#ft{
	background: #EEE;
	border: 1px solid #CCC;
	border-top: none;
	float: left;
	padding: 10px;
	width: 778px;
}