.users{
	width: 356px;
	float: left;
	border: 1px solid #CCC;
	margin: 0 10px;
}

.users .title{
	background: #F0F0F0;
	border-bottom: 1px solid #CCC;
	font-weight: bold;
	padding: 4px;
}

.users .row{
	padding: 4px;
}